.container {
  display: grid;
  max-width: 900px;
  position: relative;
  margin: auto;
  grid-gap: 10px;
  grid-template: repeat(5, 1fr) / repeat(3, 1fr);
}


header {
  background-color: #66ccff;
  grid-area: 1/1/2/4;
  font-style: 
}

.Biography{
  background-color: white;
  grid-area: 2/2/3/4;
}
.Sidebar{
  text-align: left;
  background-color: #ff6699;
  grid-area: 2/1/6/2;
}
.Work{
  background-color: white;
  grid-area: 3/2/4/4;
}
.skills{
  background-color: white;
  grid-area: 5/2/6/4;
}
.education{
  background-color: white;
  grid-area: 4/2/5/4;
}

.flex-container{
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
  color: white;
}

.name{
  border-style: double;
  brod
}
.pic{
  width:85%; 
  height:85%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  display: block;


  
}